mat-form-field {
  width: 100%;
  margin: auto;
}

.mat-card {
  width: 70%;
  margin: auto;
}

.whole {
  width: 100%;
}

.mat-spinner {
  margin: auto;
  margin-top: 30%;
  padding: auto;
}

:host {
  display: block;
  margin-top: 1rem;
}
