<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person_add</mat-icon>
    </div>
    <mat-card-title>Signing Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>sports_tennis</mat-icon>
    </div>
    <mat-card-title>Ladder Table</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>add</mat-icon>
    </div>
    <mat-card-title>Challenging a Player</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        list_alt
      </mat-icon>
    </div>
    <mat-card-title>Accepting Challenges</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        history
      </mat-icon>
    </div>
    <mat-card-title>Updating Result</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        done
      </mat-icon>
    </div>
    <mat-card-title>Confirming Result</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        person
      </mat-icon>
    </div>
    <mat-card-title>Editing Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Velit aliquet sagittis id consectetur purus. Arcu odio ut sem nulla pharetra diam. Vitae auctor eu
      augue ut lectus arcu bibendum at. Tempus iaculis urna id volutpat lacus laoreet. Nunc eget lorem dolor sed viverra
      ipsum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Vitae purus faucibus ornare suspendisse sed
      nisi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed euismod nisi porta lorem mollis.
      Cursus risus at ultrices mi tempus imperdiet nulla. Arcu bibendum at varius vel. Vel facilisis volutpat est velit
      egestas dui. Mi quis hendrerit dolor magna eget est lorem ipsum. In pellentesque massa placerat duis ultricies
      lacus sed. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mattis rhoncus urna neque viverra
      justo nec ultrices dui sapien. Arcu vitae elementum curabitur vitae nunc sed velit. In vitae turpis massa sed.
      Sagittis id consectetur purus ut faucibus.
    </p>
  </mat-card-content>
</mat-card>

