<mat-form-field class = "sport">
  <mat-label>Sport</mat-label>
  <mat-select (valueChange)="getTable($event)" [formControl]="sportName">
    <mat-option value="squash">Squash</mat-option>
    <mat-option value="tt">Table Tennis</mat-option>
    <mat-option value="tennis">Lawn Tennis</mat-option>
    <mat-option value="badminton">Badminton</mat-option>
  </mat-select>
</mat-form-field>

<div class="table-ladder mat-elevation-z8">
  <mat-form-field>
    <input [formControl]="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]='dataSource' matSort multiTemplateDataRows>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
    </ng-container>

    <ng-container matColumnDef="username" style="margin-left: -10px;">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <span>Category - {{element.category}}</span><br><br>
            <span>Matches Played - {{element.matchPlayed}}</span><br>
            <span>Matches Won - {{element.matchWon}}</span>
            <span>
              <button *ngIf = "userAuthenticated && element.id != Id" style="margin-left: 70%;" [routerLink]="['/challenge', element.id, element.username]" mat-raised-button color="primary">Challenge</button>
            </span>
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
