<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">  {{element.player}} </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element"> {{element.won}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'won': (row.won=='Won'), 'lost': (row.won=='Lost') }"></tr>
</table> -->
<div class="container">
  <h1 class='mat-heading'>Recent Matches</h1>
  <mat-accordion *ngIf="previousMatches">
    <mat-expansion-panel *ngFor="let data of previousMatches"
      [ngClass]="{
        'awaiting' : ((data.confirm_1 || data.confirm_2) && !(data.confirm_1 && data.confirm_2)),
        'won' : ((data.p1_yes && data.winner_1) || (!data.p1_yes && data.winner_2)),
        'lost' : ((data.p1_yes && data.winner_2) || (!data.p1_yes && data.winner_1)),
        'draw' : (data.winner_1 && data.winner_2),
        'reported' : (data.report_secy !== 'no') }">
      <mat-expansion-panel-header [ngClass]="{
        'awaiting' : ((data.confirm_1 || data.confirm_2) && !(data.confirm_1 && data.confirm_2)),
        'won' : ((data.p1_yes && data.winner_1) || (!data.p1_yes && data.winner_2)),
        'lost' : ((data.p1_yes && data.winner_2) || (!data.p1_yes && data.winner_1)),
        'draw' : (data.winner_1 && data.winner_2),
        'reported' : (data.report_secy !== 'no') }" *ngIf="data.p1_yes">
        {{ data.date }} - {{ data.p2_name }}
      </mat-expansion-panel-header>
      <mat-expansion-panel-header [ngClass]="{
        'awaiting' : ((data.confirm_1 || data.confirm_2) && !(data.confirm_1 && data.confirm_2)),
        'won' : ((data.p1_yes && data.winner_1) || (!data.p1_yes && data.winner_2)),
        'lost' : ((data.p1_yes && data.winner_2) || (!data.p1_yes && data.winner_1)),
        'draw' : (data.winner_1 && data.winner_2),
        'reported' : (data.report_secy !== 'no') }" *ngIf="!data.p1_yes">
        {{ data.date }} - {{ data.p1_name }}
      </mat-expansion-panel-header>
      <p> Sport:
        {{data.sport}} </p>
      <p *ngIf="data.confirm_1 || data.confirm_2"> Match Score :
        {{data.match_score}} </p>
      <p *ngIf="data.confirm_1 || data.confirm_2"> Set Score :
        {{data.set_score}} </p>
      <p *ngIf="data.p1_yes">Contact - {{ data.contact2 }}</p>
      <p *ngIf="!data.p1_yes">Contact - {{ data.contact1 }}</p>
      <p *ngIf="data.report_secy == 'p1' && data.p1_yes">This has been reported to the secy by You</p>
      <p *ngIf="data.report_secy == 'p1' && !data.p1_yes">This has been reported to the secy by {{ data.p1_name }}</p>
      <p *ngIf="data.report_secy == 'p2' && data.p1_yes">This has been reported to the secy by {{ data.p2_name }}</p>
      <p *ngIf="data.report_secy == 'p2' && !data.p1_yes">This has been reported to the secy by You</p>
      <mat-action-row *ngIf="!data.confirm_1 && !data.confirm_2">
        <!-- <button mat-raised-button [routerLink]="">Report Issue?</button> -->
        <button mat-raised-button color="primary" [routerLink]="['/confirmation/update/', data._id, data.p1_yes]">Update Result</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
