.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  margin: 10px;
}

.won,
.won:hover {
  background-color: #A1CCA5 !important;
}

.lost,
.lost:hover {
  background-color: #E26D5A !important;
}

.draw,
.draw:hover {
  background-color: rgb(220, 184, 253) !important;
}

.awaiting,
.awaiting:hover {
  background-color: #FFDA84 !important;
}

.reported,
.reported:hover {
  background-color: #586F7C !important;
}

