.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  margin: 10px;
}

.won {
  background-color: #A1CCA5;
}

.lost {
  background-color: #E26D5A;
}

.draw {
  background-color: rgb(220, 184, 253);
}

.awaiting {
  background-color: #FFDA84;
}

.reported {
  background-color: #586F7C;
}
