<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="name" ngModel placeholder="Full Name" #name="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="roll" ngModel placeholder="Roll Number" #rollInput="ngModel" required roll>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="hostel" ngModel placeholder="Hostel" #hostelInput="ngModel" required hostel>
    </mat-form-field>
    <mat-form-field name="gender" ngModel placeholder="Gender" #genderInput="ngModel" required gender>
      <mat-label>Gender</mat-label>
      <mat-select>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Others</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="category" ngModel placeholder="Category" #categoryInput="ngModel" required category>
    </mat-form-field>
    <mat-form-field name="preferred" ngModel placeholder="Preferred Sport" #preferredInput="ngModel" required preferred>
      <mat-label>Preferred Sport</mat-label>
      <mat-select>
        <mat-option value="squash">Squash</mat-option>
        <mat-option value="tt">Table Tennis</mat-option>
        <mat-option value="tennis">Lawn Tennis</mat-option>
        <mat-option value="badminton">Badminton</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="contact" ngModel placeholder="Contact Number" #contactInput="ngModel" required contact>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>
