<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input name='name' type="text" placeholder="Name" matInput [(ngModel)]="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="roll" placeholder="Roll Number" [(ngModel)]="roll" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hostel</mat-label>
      <mat-select name='hostel' [(ngModel)]="hostel" required>
        <mat-option value="1">Hostel 1</mat-option>
        <mat-option value="2">Hostel 2</mat-option>
        <mat-option value="3">Hostel 3</mat-option>
        <mat-option value="4">Hostel 4</mat-option>
        <mat-option value="5">Hostel 5</mat-option>
        <mat-option value="6">Hostel 6</mat-option>
        <mat-option value="7">Hostel 7</mat-option>
        <mat-option value="8">Hostel 8</mat-option>
        <mat-option value="9">Hostel 9</mat-option>
        <mat-option value="10">Hostel 10</mat-option>
        <mat-option value="11">Hostel 11</mat-option>
        <mat-option value="12">Hostel 12</mat-option>
        <mat-option value="13">Hostel 13</mat-option>
        <mat-option value="14">Hostel 14</mat-option>
        <mat-option value="15">Hostel 15</mat-option>
        <mat-option value="16">Hostel 16</mat-option>
        <mat-option value="18">Hostel 18</mat-option>
        <mat-option value="tansa">Tansa</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select name="gender" [(ngModel)]="gender" placeholder="Gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Others</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preferred Sport</mat-label>
      <mat-select name="preferred" [(ngModel)]="preferred" required multiple>
        <mat-option value="squash">Squash</mat-option>
        <mat-option value="tt">Table Tennis</mat-option>
        <mat-option value="tennis">Lawn Tennis</mat-option>
        <mat-option value="badminton">Badminton</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="this.preferred.includes('squash')">
      <mat-label>Category - Squash</mat-label>
      <mat-select name="categorySquash" [(ngModel)]="categorySquash" placeholder="Category - Squash" required>
        <mat-option value="Inter IIT Team">Inter IIT Team</mat-option>
        <mat-option value="Inter IIT Camp">Inter IIT Camp</mat-option>
        <mat-option value="Intermediate">Intermediate</mat-option>
        <mat-option value="NSO">NSO</mat-option>
        <mat-option value="Beginner">Beginner</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="this.preferred.includes('tt')">
      <mat-label>Category - Table Tennis</mat-label>
      <mat-select name="categoryTT" [(ngModel)]="categoryTT" placeholder="Category - Table Tennis" required>
        <mat-option value="Inter IIT Team">Inter IIT Team</mat-option>
        <mat-option value="Inter IIT Camp">Inter IIT Camp</mat-option>
        <mat-option value="Intermediate">Intermediate</mat-option>
        <mat-option value="NSO">NSO</mat-option>
        <mat-option value="Beginner">Beginner</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="this.preferred.includes('tennis')">
      <mat-label>Category - Lawn Tennis</mat-label>
      <mat-select name="categoryTennis" [(ngModel)]="categoryTennis" placeholder="Category - Lawn Tennis" required>
        <mat-option value="Inter IIT Team">Inter IIT Team</mat-option>
        <mat-option value="Inter IIT Camp">Inter IIT Camp</mat-option>
        <mat-option value="Intermediate">Intermediate</mat-option>
        <mat-option value="NSO">NSO</mat-option>
        <mat-option value="Beginner">Beginner</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="this.preferred.includes('badminton')">
      <mat-label>Category - Badminton</mat-label>
      <mat-select name="categoryBadminton" [(ngModel)]="categoryBadminton" placeholder="Category - Badminton" required>
        <mat-option value="Inter IIT Team">Inter IIT Team</mat-option>
        <mat-option value="Inter IIT Camp">Inter IIT Camp</mat-option>
        <mat-option value="Intermediate">Intermediate</mat-option>
        <mat-option value="NSO">NSO</mat-option>
        <mat-option value="Beginner">Beginner</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="contact" [(ngModel)]="contact" placeholder="Mobile Number" required>
      <p style="color: #F62B14; font-size: 15px;" *ngIf="wrongNumber">Please enter a valid number</p>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" matInput placeholder="Password" [(ngModel)]="pass" required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="pass1" matInput [(ngModel)]="pass1" placeholder="Confirm Password" required>
      <p style="color: #F62B14; font-size: 15px;" *ngIf="wrong">Passwords dont match</p>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>
