<h1 style="margin-left: 20%;">Profile</h1>
<mat-card style="width: 60%; margin: auto; margin-top: 1rem;">
  <mat-form-field>
    <input type="text" placeholder="Name" matInput>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Roll No." matInput>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Hostel" matInput>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Contact No." matInput>
  </mat-form-field>
  <mat-form-field class="gender">
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
      <mat-option value="other">Others</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="sport">
    <mat-label>Preferred Sport</mat-label>
    <mat-select>
      <mat-option value="squash">Squash</mat-option>
      <mat-option value="tt">Table Tennis</mat-option>
      <mat-option value="tennis">Lawn Tennis</mat-option>
      <mat-option value="badminton">Badminton</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
