<div class="container">
  <h1 class='mat-heading'>Challenges Received</h1>
  <mat-accordion multi="true" *ngIf="challengesR">
    <mat-expansion-panel *ngFor="let challenege of challengesR">
      <mat-expansion-panel-header>
        {{ challenege.p2_name }}
      </mat-expansion-panel-header>
      <p> Sport - {{ challenege.sport }} </p>
      <p> Date - {{ challenege.date }} </p>
      <p> Time - {{ challenege.time }} </p>
      <p> Message - {{ challenege.message }} </p>
      <mat-action-row>
        <button color='warn' (click)="onDeleteR(challenege._id)" mat-raised-button>Reject</button>
        <button color='primary' mat-raised-button>Confirm</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-sub-heading" *ngIf="(challengesR.length - 1)">No new challenges</p>
  <h1 class='mat-heading'>Challenges Sent</h1>
  <mat-accordion multi="true" *ngIf="challengesS">
    <mat-expansion-panel *ngFor="let challenege of challengesS">
      <mat-expansion-panel-header>
        {{ challenege.p1_name }}
      </mat-expansion-panel-header>
      <p> Sport - {{ challenege.sport }} </p>
      <p> Date - {{ challenege.date }} </p>
      <p> Time - {{ challenege.time }} </p>
      <p> Message - {{ challenege.message }} </p>
      <mat-action-row>
        <button color='warn' (click)="onDeleteS(challenege._id)" mat-raised-button>Undo</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-sub-heading" *ngIf="(challengesS.length - 1)">No new challenges</p>
</div>
