:host {
  display: block;
  margin-top: 1rem;
}

button {
  margin: 5px;
}

.container {
  width: 80%;
  margin: 1rem auto;
}

.rejected,
.rejected:hover {
  background-color: #E26D5A !important;
}

.accepted,
.accepted:hover {
  background-color: #A1CCA5 !important;
}
